@if (authService.currentUserValue) {
<app-header (toggleSidebar)="toggleSidebar()"></app-header>
}

<div class="main-wrapper" [class.with-sidebar]="authService.currentUserValue && !isSidebarCollapsed">
  @if (authService.currentUserValue) {
  <!-- Sidebar -->
  @if (!isSidebarCollapsed) {
  <div class="sidebar-container">
    <app-sidebar [isCollapsed]="isSidebarCollapsed" (toggleSidebar)="toggleSidebar()"></app-sidebar>
  </div>
  }
  }

  <!-- Main Content -->
  <div class="main-content" [class.expanded]="isSidebarCollapsed">
    <main>
      <router-outlet></router-outlet>
    </main>
  </div>
</div>

<!-- Footer fuera del wrapper principal -->
<app-footer></app-footer>

@if (!authService.currentUserValue) {
<div class="auth-wrapper">
  <router-outlet></router-outlet>
  <app-footer></app-footer>
</div>
}